<header class="header">
  <div class="container">
    <div class="header__upper-content">
      <div class="header__search-bar">
        <app-logo></app-logo>
        <app-search-bar (isFormSubmitted)="onFormSubmitted($event)"></app-search-bar>
        <app-settings (areSettingsActive)="onSettingsActive($event)"></app-settings>
      </div>
      <app-user-bar></app-user-bar>
    </div>
    <app-filter [areSettingsActive]="areSettingsActive" (condition)="onConditionSet($event)" (word)="onQuerySet($event)"
      (currentDirection)="onCurrentDirectionSet($event)"></app-filter>
  </div>
</header>
